<div class="bg">
  <h1 class="dashboard-header-title">Dashboard</h1>
  <br>
  <div class="dashboard-links-container">
    <%= link_to "Events", events_path, class: "dashboard-btn dashboard-btn-events" %>
    <%= link_to "Gallery", gallery_index_path, class: "dashboard-btn dashboard-btn-gallery" %>
    <%= link_to "Registered Users", data_registered_users_path, class: "dashboard-btn dashboard-btn-users" %>
  </div>
</div>


