<section id="welcome-hero" class="welcome-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="header-text">
          <h2>Your gateway to unforgettable experiences!</h2>
          <p>Plan less, enjoy more</p>
          <a href="<%= new_user_session_path %>">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

